header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 5em;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 20px;
}

.project-card {
    display: flex;
    flex-direction: column;
}

.project-card img {
    width: 20em;
}

footer {
    position: fixed;
    bottom: 0;
}